.App {
  text-align: center;
  background-color: #ffffff;
}

.hr-line {
  top: 135px;
  left: 0.5px;
  width: 100%;
  opacity: 1;
  border: 0;
  border-top: 1px solid #DADADA;
  margin: 1em 0;
  padding: 0;
}

.header-page { 
  margin-left: 7vw;
  margin-top: 50px;
  text-align: left;
  font-family: filson-pro, sans-serif;
  font-style: bold;
  font-weight: 42px/45px;  
  letter-spacing: 0px;
  color: #111111;
  opacity: 1;
}

.no-bears-logo {
  margin-left: 5vw;
  width: 317px;
  height: 567px;
  background: #111111 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
}

.app {
  z-index: 1;
  position: absolute;
}