.App {
  text-align: center;
  background-color: #ffffff;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.search-bar {
  width: 1197px;
  height: 50px;
  margin-left: 150px;
}

.logo {
  margin-top: 16px;
  margin-left: 115px;
}

.header-wall-of-fame {
  margin-left: 115px;
  text-align: left;
  font: normal normal bold 42px/45px Filson Pro;
  letter-spacing: 0px;
  color: #111111;
  opacity: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.no-bears-logo {
  margin-left: 115px;
  width: 317px;
  height: 567px;
  background: #111111 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
}

.jager-cor {
  margin-left: 21px;
  width: 317px;
  height: 442px;
  opacity: 1;
  background: #111111 0% 0% no-repeat padding-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.jager-cor img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


