.cover img {
    opacity: 1;
    background: #111111 0% 0% no-repeat padding-box;
    align-items: center;
    overflow: hidden
}

.welcome-cor {
    margin-top: 255px;
    height: 140vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #DADADA2E;
    border-radius: 20px;
    opacity: 1;
    width: 60vw;
    margin: 20vh 20vw;
    z-index: 3;
    position: absolute;
}

.card-container {
    width: 100vw;
    height: 350vh;
    background-color: rgba(255, 255, 255, 0.438);
    position: absolute;
    top: 0;
    z-index: 2;
}

.card-header {
    width: 60vw;
    height: 109px;
    display: flex;
}

.dots {
    padding-left: 2vw;
    margin-top: 50px;
    margin-right: 2vw;
}

.heart {
    margin-right: 2vw;
    margin-top: 40px;
}

.download {
    align-items: left;
    margin-top: 40px;
}

.save {
    margin-left: auto;
    margin-right: 4vw;
    margin-top: 30px;
    width: 166px;
    height: 49px;
    background: #35CBBF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border-color: #35CBBF;
    opacity: 1;
    font-family: filson-pro, sans-serif;
    font-style: bold;
    font-size: 45px/45px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    width: 50vw;
}

.welcome {
    text-align: left;
    font-family: filson-pro, sans-serif;
    font-style: bold;
    font-weight: 30px/45px;
    letter-spacing: 0px;
    color: #35CBBF;
    opacity: 1;
}

.name {
    text-align: left;
    font-family: filson-pro, sans-serif;
    font-style: bold;
    font-weight: 100px/45px;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
}

.lorem-ipsum {
    text-align: left;
    font-family: filson-pro, sans-serif;
    font: normal;
    font-weight: 18px/28px;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .welcome-cor {
        height: 170vw;
    }
    .dots {
        margin-right: auto;
        margin-top: 50px;
    }
    .heart {
        margin-right: auto;
        margin-top: 40px;
    }
    .download {
        margin-right: auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .welcome-cor {
        height: 180vw;
    }
    .dots {
        margin-right: auto;
        margin-top: 50px;
        margin-left: 4vw;
    }
    .heart {
        margin-right: auto;
        margin-top: 40px;
    }
    .download {
        margin-right: auto;
        margin-top: 40px;
    }
    .save {
        margin-right: 40px !important;
    }
    .card-header {
        width: 60vw;
    }
    .card-container {
        width: 100vw;
        height: 450vh;
    }
}

@media screen and (max-width: 667px) {
    .welcome-cor {
        height: 250vw;
        width: 80vw;
        margin: 20vh 10vw;
    }
    .dots {
        margin-right: auto;
        margin-top: 50px;
    }
    .heart {
        margin-right: auto;
        margin-top: 40px;
    }
    .download {
        margin-right: auto;
        margin-top: 40px;
        padding-right: 20px
    }
    .save {
        margin-right: 10px !important;
    }
    .card-header {
        width: 80vw !important;
    }
    .card-container {
        width: 100vw;
        height: 450vh;
    }
}

@media screen and (max-width: 480px) {
    .welcome-cor {
        height: 390vw;
        width: 90vw;
        margin: 20vh 5vw;
    }
    .dots {
        margin-right: auto;
        margin-top: 48px;
        width: 31px;
        height: 6px
    }
    .heart {
        margin-right: auto;
        margin-top: 40px;
        width: 23px;
        height: 19px
    }
    .download {
        margin-right: auto;
        margin-top: 40px;
        width: 25px;
        height: 19px
    }
    .save {
        margin-right: 25px !important;
        width: 136px;
    }
    .card-header {
        width: 90vw !important;
    }
    .card-container {
        width: 100vw;
        height: 1450vh;
    }
}

@media (max-device-width: 320px) {
    .welcome-cor {
        height: 450vw;
        width: 90vw;
        margin: 20vh 5vw;
    }
    .dots {
        margin-right: auto;
        margin-top: 48px;
        width: 31px;
        height: 6px
    }
    .heart {
        margin-right: auto;
        margin-top: 40px;
        width: 23px;
        height: 19px
    }
    .download {
        margin-right: auto;
        margin-top: 40px;
        width: 25px;
        height: 19px
    }
    .cover {
        width: 90vw;
    }   
    .save {
        margin-right: 10px !important;
        width: 136px;
    }
    .card-container {
        width: 100vw;
        height: 1650vh;
    }
}