.cover img {
    width: 934px;
    height: 526px;
    opacity: 1;
    background: #111111 0% 0% no-repeat padding-box;
    align-items: center;
    overflow: hidden
}

.welcome-cor {
    margin-top: 255px;
    width: 934px;
    height: 1207px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #DADADA2E;
    border-radius: 20px;
    opacity: 1;
    width: 70vw;
    margin: 20vh 15vw;
    z-index: 3;
    position: absolute;
}

.card-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.438);
    position: absolute;
    top: 0;
    z-index: 2;
}

.card-header {
    width: 934px;
    height: 109px;
    display: flex;
}

.dots {
    align-items: left;
    padding-left: 76px;
    margin-top: 50px;
    padding-right: 30px;
}

.heart {
    align-items: left;
    padding-right: 29px;
    margin-top: 40px;
}

.download{
    align-items:left;
    margin-top: 40px;
}

.save {
    margin-left: 460px;
    margin-top: 30px;
    width: 166px;
    height: 49px;
    background: #35CBBF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border-color: #35CBBF;
    opacity: 1;
    font: normal normal bold 18px/45px Filson Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text{
    width: 784px;
}

.welcome {
    text-align: left;
    font: normal normal bold 30px/45px Filson Pro;
    letter-spacing: 0px;
    color: #35CBBF;
    opacity: 1;
}

.name {
    text-align: left;
    font: normal normal bold 60px/45px Filson Pro;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
}

.lorem-ipsum {
    text-align: left;
    font: normal normal normal 18px/28px Filson Pro;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
}