.search-input {
	padding: 20px 65px 20px 20px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    flex:1;
    border: 1px solid #DADADA;
    border-radius: 10px;
    opacity: 1;
    padding-left: 40px; 
    width: 50vw; 
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  
}

.search-pic {
    margin-left: 10px;
    margin-top: 42px;
    position:absolute; 
    left:0; 
    top:0; 

}

.nav-bar {
    display: flex;
    overflow: hidden
}
  
  
.logo {
    margin-top: 16px;
    margin-left: 7vw;
    padding-right: 10vw;
}

.message {
    margin-top: 40px;
    margin-left: 3vw;
    margin-right: auto;
}
.notification {
    margin-right: auto;
    margin-top: 40px;
    padding-left: 1vw;

}
.profile {
    margin-right: auto;
    margin-top: 37px;
    padding-right: 4vw;
    padding-left: 0.5vw;
}

@media screen and (max-width: 1024px) {
    .search-input {
        width: 40vw;
    }
    /* .logo {
        height: 170vw;
    } */
    .message {
        margin-right: auto;
        margin-top: 50px;
    }
    .notification {
        margin-right: auto;
        margin-top: 40px;
    }
    .profile {
        margin-right: auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .search-input {
        width: 20vw;
    }
    /* .logo {
        height: 170vw;
    } */
    .message {
        margin-right: auto;
        margin-top: 50px;
    }
    .notification {
        margin-right: auto;
        /* margin-top: 40px; */
    }
    .profile {
        margin-right: auto;
        /* margin-top: 40px; */
    }
}

@media screen and (max-width: 667px) {
    
}

@media screen and (max-width: 480px) {
   
}

@media (max-device-width: 320px) {
   
}