.search-input {
	padding: 20px 65px 20px 20px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    flex:1;
    border: 1px solid #DADADA;
    border-radius: 10px;
    opacity: 1;
    padding-left: 3.5vw; 
    width: 50vw; 
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  
}

.search-pic {
    margin-left: 10px;
    margin-top: 42px;
    position:absolute; 
    left:0; 
    top:0; 
    /* margin-top: 3vw; */
}

.nav-bar {
    display: flex;
    overflow: hidden
}
  
  
.logo {
    margin-top: 16px;
    margin-left: 7vw;
    padding-right: 8vw;
}

.message {
    margin-top: 40px;
    margin-left: 3vw;
    margin-right: auto;
}
.notification {
    margin-right: auto;
    margin-top: 40px;
    padding-left: 1vw;

}
.profile {
    margin-right: auto;
    margin-top: 37px;
    padding-right: 4vw;
    padding-left: 0.5vw;
}

@media screen and (max-width: 1024px) {
    .search-input {
        width: 30vw;
        margin-top: 3vw;
        padding-left: 6vw; 
        padding-right: 11vw;
    }
    .logo {
        height: 9vw;
        width: auto;
    }
    .search-pic {
        margin-left: 2vw;
        margin-top: 6vw;
    }
    .message {
        margin-right: auto;
        margin-left: 6vw;
        margin-top: 4.1vh;
    }
    .notification {
        margin-right: auto;
        margin-top: 4.1vh;
    }
    .profile {
        margin-right: auto;
        margin-top: 3.8vh;
    }
}

@media screen and (max-width: 768px) {
    .search-input {
        width: 20vw;
        margin-top: 3vw;
        padding-right: 20vw;
    }
    .logo {
        height: 10vw;
        width: auto;
    }
    .search-pic {
        margin-left: 2vw;
        margin-top: 6vw;
    }
    .message {
        margin-right: auto;
        margin-top: 4.5vh;
    }
    .notification {
        margin-right: auto;
        margin-top: 4.5vh;
    }
    .profile {
        margin-right: auto;
        margin-top: 4.2vh;
    }
}

@media screen and (max-width: 667px) {
    .search-input {
        width: 20vw;
        margin-top: 3vw;
        padding-left: 8vw; 
    }
    .logo {
        height: 10vw;
        width: auto;
    }
    .search-pic {
        margin-left: 2vw;
        margin-top: 6.5vw;
    }
    .message {
        margin-right: auto;
        margin-top: 4.5vh;
    }
    .notification {
        margin-right: auto;
        margin-top: 4.5vh;
    }
    .profile {
        margin-right: auto;
        margin-top: 4vh;
    }
}

@media screen and (max-width: 480px) {
    .search-input {
        width: 12vw;
        margin-top: 3vw;
        padding-left: 8vw; 
    }
    .search-pic {
        margin-left: 2vw;
        margin-top: 7.9vw;
    }
}

@media (max-device-width: 320px) {
    .search-input {
        width: 14vw;
        margin-top: 3vw;
        padding: 6vw 12vw 6vw; 
    }
    .logo {
        height: 8vw;
        width: auto;
        margin-top: 8vw;
    }
    .search-pic {
        margin-left: 4vw;
        margin-top: 8.5vw;
    }
    .message {
        margin-right: auto;
        margin-top: 4.5vh;
    }
    .notification {
        margin-right: auto;
        margin-top: 4.5vh;
    }
    .profile {
        margin-right: auto;
        margin-top: 4vh;
    }
}